html {
  width: 100%
  font-size: 16px;
  background: url(http://i.imgur.com/Puse6HC.jpg) no-repeat;
  background-size: 100%;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  

}
/*navigation*/
header {
  width: 1170px;
  height:200px;
  margin: 0 auto;
  min-width: 80%;
  max-width: 80%;
  max-height: 100px;
}

header a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
header a:hover {
  text-decoration: underline;
}
header li:last-child {
  margin-right: 0;
}
header li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
  
}
header ul {
  float: right;
  margin-right: 60px;
  position: relative;
  top: 20px;

}
/*navigation end*/
/*logo*/
#logo span{
  position: absolute;
  font-size: 32px;
  top: 20px;
  left: 160px;
  font-family: "Montserrat", sans-serif;
}
/*logo end*/
/*get-started button*/
.startup {
  color: white;
  text-align: center;
  position: relative;
  top: 138px;
  box-sizing: border-box;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  margin-left: -5px;
}
.startup > h1 {
  font-size: 39px;
  letter-spacing: 2px;
}
.startup span {
  font-size: 16.5px;
  font-weight: normal;
  letter-spacing: 0;
  margin-bottom: 50px;
}
.startup a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 15px 25px;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: 28px;
  font-size: 16px;
}
.startup a:hover {
  background: white;
  color: #ba2e1d;
  font-weight: 600;
}
/*get-started button end*/
/*service*/
.service {
  text-align: center;
  margin-top: 550px;
  color: #555555;
  font-family: "Montserrat", sans-serif;
}
hr {
  width: 50px;
  height: 2px;
  background: #555555;
}
.columns {
  width: 100%;
  
}
.board {
  width: 25%;
  height: 300px;
  display: inline-block;
  margin-right: 50px;
  margin-top: 40px;
}
.columns > div:last-child{
  margin-right: 0;
}
.board .r-button {
  width: 100px;
  height: 100px;
  border: 1px solid #555555;
  border-radius: 50%;
  margin: 0 auto;

}

.r-button {
  background: url(https://i.imgur.com/VU0p8oY.jpg) no-repeat, url(http://i.imgur.com/QuKOTwF.png) no-repeat;
}
.r1 {
 background: url(http://i.imgur.com/VU0p8oY.jpg) no-repeat 8px 0;
}
.r2 {
 background: url(http://i.imgur.com/VU0p8oY.jpg) no-repeat -103px 0;
}
.r3 {
 background: url(http://i.imgur.com/VU0p8oY.jpg) no-repeat -211px 5px;
}
.board:hover .r1 {
 background: url(http://i.imgur.com/QuKOTwF.png) no-repeat 8px 0 #c0301c;
 border-color:white;
}
.board:hover .r2 {
 background: url(http://i.imgur.com/QuKOTwF.png) no-repeat -103px 0 #c0301c;
 border-color:white;
}
.board:hover .r3 {
 background: url(http://i.imgur.com/QuKOTwF.png) no-repeat -211px 5px #c0301c;
 border-color:white;
}
.board h3 {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
.board p {
  font-size: 11px;
  font-family: "Roboto Slab",serif;
}
/* SERVICE end*/
/*about*/
.about{
  background: #f8f8f8;
  width: 100%;
  height: 800px;
  text-align: center;
  color: #555555;

}
.about div {
  position: relative;
  top: 100px;
}
.about h2 {
  font-family: "Montserrat", sans-serif;
}
.about p {
  font-family: "Montserrat", sans-serif;
}
.paragraph p {
  display: inline-block;
  width: 583px;
  text-align: left;
  font-size: 15px;
  font-family: "Roboto Slab", serif;
  
}
